<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="head">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8" />
		<title>Dashboard - Ace Admin</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="../../../admin/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../../../admin/font-awesome/4.5.0/css/font-awesome.min.css" />

		<!-- page specific plugin styles -->

		<!-- text fonts -->
		<link rel="stylesheet" href="../../../admin/css/fonts.googleapis.com.css" />

		<!-- ace styles -->
		<link rel="stylesheet" href="../../../admin/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

		<!--[if lte IE 9]>
			<link rel="stylesheet" href="../../../admin/css/ace-part2.min.css" class="ace-main-stylesheet" />
		<![endif]-->
		<link rel="stylesheet" href="../../../admin/css/ace-skins.min.css" />
		<link rel="stylesheet" href="../../../admin/css/ace-rtl.min.css" />

		<!--[if lte IE 9]>
		  <link rel="stylesheet" href="../../../admin/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->
		<script src="../../../admin/js/ace-extra.min.js"></script>

		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

		<!--[if lte IE 8]>
		<script src="../../../admin/js/html5shiv.min.js"></script>
		<script src="../../../admin/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body class="no-skin">
	
        <div th:fragment="menu-left" id="sidebar" class="sidebar responsive ace-save-state">
	        <script type="text/javascript">
	            try{ace.settings.loadState('sidebar')}catch(e){}
	        </script>
	
	        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
	            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
	                <button class="btn btn-success">
	                    <i class="ace-icon fa fa-signal"></i>
	                </button>
	
	                <button class="btn btn-info">
	                    <i class="ace-icon fa fa-pencil"></i>
	                </button>
	
	                <button class="btn btn-warning">
	                    <i class="ace-icon fa fa-users"></i>
	                </button>
	
	                <button class="btn btn-danger">
	                    <i class="ace-icon fa fa-cogs"></i>
	                </button>
	            </div>
	
	            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
	                <span class="btn btn-success"></span>
	
	                <span class="btn btn-info"></span>
	
	                <span class="btn btn-warning"></span>
	
	                <span class="btn btn-danger"></span>
	            </div>
	        </div><!-- /.sidebar-shortcuts -->
	
	        <ul class="nav nav-list">
	            <li class="active">
	                <a href="index">
	                    <i class="menu-icon fa fa-tachometer"></i>
	                    <span class="menu-text"> Dashboard </span>
	                </a>
	
	                <b class="arrow"></b>
	            </li>
	
	            <li class="">
	                <a href="#" class="dropdown-toggle">
	                    <i class="menu-icon fa fa-desktop"></i>
	                    <span class="menu-text">
	                        UI &amp; Elements
	                    </span>
	
	                    <b class="arrow fa fa-angle-down"></b>
	                </a>
	
	                <b class="arrow"></b>
	
	                <ul class="submenu">
	                    <li class="">
	                        <a href="#" class="dropdown-toggle">
	                            <i class="menu-icon fa fa-caret-right"></i>
	
	                            Layouts
	                            <b class="arrow fa fa-angle-down"></b>
	                        </a>
	
	                        <b class="arrow"></b>
	
	                        <ul class="submenu">
	                            <li class="">
	                                <a href="top-menu">
	                                    <i class="menu-icon fa fa-caret-right"></i>
	                                    Top Menu
	                                </a>
	
	                                <b class="arrow"></b>
	                            </li>
	
	                            <li class="">
	                                <a href="two-menu-1">
	                                    <i class="menu-icon fa fa-caret-right"></i>
	                                    Two Menus 1
	                                </a>
	
	                                <b class="arrow"></b>
	                            </li>
	
	                            <li class="">
	                                <a href="two-menu-2">
	                                    <i class="menu-icon fa fa-caret-right"></i>
	                                    Two Menus 2
	                                </a>
	
	                                <b class="arrow"></b>
	                            </li>
	
	                            <li class="">
	                                <a href="mobile-menu-1">
	                                    <i class="menu-icon fa fa-caret-right"></i>
	                                    Default Mobile Menu
	                                </a>
	
	                                <b class="arrow"></b>
	                            </li>
	
	                            <li class="">
	                                <a href="mobile-menu-2">
	                                    <i class="menu-icon fa fa-caret-right"></i>
	                                    Mobile Menu 2
	                                </a>
	
	                                <b class="arrow"></b>
	                            </li>
	
	                            <li class="">
	                                <a href="mobile-menu-3">
	                                    <i class="menu-icon fa fa-caret-right"></i>
	                                    Mobile Menu 3
	                                </a>
	
	                                <b class="arrow"></b>
	                            </li>
	                        </ul>
	                    </li>
	
	                    <li class="">
	                        <a href="typography">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Typography
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="elements">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Elements
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="buttons">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Buttons &amp; Icons
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="content-slider">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Content Sliders
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="treeview">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Treeview
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="jquery-ui">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            jQuery UI
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="nestable-list">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Nestable Lists
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="#" class="dropdown-toggle">
	                            <i class="menu-icon fa fa-caret-right"></i>
	
	                            Three Level Menu
	                            <b class="arrow fa fa-angle-down"></b>
	                        </a>
	
	                        <b class="arrow"></b>
	
	                        <ul class="submenu">
	                            <li class="">
	                                <a href="#">
	                                    <i class="menu-icon fa fa-leaf green"></i>
	                                    Item #1
	                                </a>
	
	                                <b class="arrow"></b>
	                            </li>
	
	                            <li class="">
	                                <a href="#" class="dropdown-toggle">
	                                    <i class="menu-icon fa fa-pencil orange"></i>
	
	                                    4th level
	                                    <b class="arrow fa fa-angle-down"></b>
	                                </a>
	
	                                <b class="arrow"></b>
	
	                                <ul class="submenu">
	                                    <li class="">
	                                        <a href="#">
	                                            <i class="menu-icon fa fa-plus purple"></i>
	                                            Add Product
	                                        </a>
	
	                                        <b class="arrow"></b>
	                                    </li>
	
	                                    <li class="">
	                                        <a href="#">
	                                            <i class="menu-icon fa fa-eye pink"></i>
	                                            View Products
	                                        </a>
	
	                                        <b class="arrow"></b>
	                                    </li>
	                                </ul>
	                            </li>
	                        </ul>
	                    </li>
	                </ul>
	            </li>
	
	            <li class="">
	                <a href="#" class="dropdown-toggle">
	                    <i class="menu-icon fa fa-list"></i>
	                    <span class="menu-text"> Tables </span>
	
	                    <b class="arrow fa fa-angle-down"></b>
	                </a>
	
	                <b class="arrow"></b>
	
	                <ul class="submenu">
	                    <li class="">
	                        <a href="tables">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Simple &amp; Dynamic
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="jqgrid">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            jqGrid plugin
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	                </ul>
	            </li>
	
	            <li class="">
	                <a href="#" class="dropdown-toggle">
	                    <i class="menu-icon fa fa-pencil-square-o"></i>
	                    <span class="menu-text"> Forms </span>
	
	                    <b class="arrow fa fa-angle-down"></b>
	                </a>
	
	                <b class="arrow"></b>
	
	                <ul class="submenu">
	                    <li class="">
	                        <a href="form-elements">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Form Elements
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="form-elements-2">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Form Elements 2
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="form-wizard">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Wizard &amp; Validation
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="wysiwyg">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Wysiwyg &amp; Markdown
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="dropzone">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Dropzone File Upload
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	                </ul>
	            </li>
	
	            <li class="">
	                <a href="widgets">
	                    <i class="menu-icon fa fa-list-alt"></i>
	                    <span class="menu-text"> Widgets </span>
	                </a>
	
	                <b class="arrow"></b>
	            </li>
	
	            <li class="">
	                <a href="calendar">
	                    <i class="menu-icon fa fa-calendar"></i>
	
	                    <span class="menu-text">
	                        Calendar
	
	                        <span class="badge badge-transparent tooltip-error" title="2 Important Events">
	                            <i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>
	                        </span>
	                    </span>
	                </a>
	
	                <b class="arrow"></b>
	            </li>
	
	            <li class="">
	                <a href="gallery">
	                    <i class="menu-icon fa fa-picture-o"></i>
	                    <span class="menu-text"> Gallery </span>
	                </a>
	
	                <b class="arrow"></b>
	            </li>
	
	            <li class="">
	                <a href="#" class="dropdown-toggle">
	                    <i class="menu-icon fa fa-tag"></i>
	                    <span class="menu-text"> More Pages </span>
	
	                    <b class="arrow fa fa-angle-down"></b>
	                </a>
	
	                <b class="arrow"></b>
	
	                <ul class="submenu">
	                    <li class="">
	                        <a href="profile">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            User Profile
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="inbox">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Inbox
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="pricing">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Pricing Tables
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="invoice">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Invoice
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="timeline">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Timeline
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="search">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Search Results
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="email">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Email Templates
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="login">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Login &amp; Register
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	                </ul>
	            </li>
	
	            <li class="">
	                <a href="#" class="dropdown-toggle">
	                    <i class="menu-icon fa fa-file-o"></i>
	
	                    <span class="menu-text">
	                        Other Pages
	
	                        <span class="badge badge-primary">5</span>
	                    </span>
	
	                    <b class="arrow fa fa-angle-down"></b>
	                </a>
	
	                <b class="arrow"></b>
	
	                <ul class="submenu">
	                    <li class="">
	                        <a href="faq">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            FAQ
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="error-404">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Error 404
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="error-500">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Error 500
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="grid">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Grid
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	
	                    <li class="">
	                        <a href="blank">
	                            <i class="menu-icon fa fa-caret-right"></i>
	                            Blank Page
	                        </a>
	
	                        <b class="arrow"></b>
	                    </li>
	                </ul>
	            </li>
	        </ul><!-- /.nav-list -->
	
	        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
	            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	        </div>
	    </div>
        <footer th:fragment="footer">
			<!-- basic scripts -->
	
			<!--[if !IE]> -->
			<script src="../../../admin/js/jquery-2.1.4.min.js"></script>
	
			<!-- <![endif]-->
	
			<!--[if IE]>
	           <script src="../../../admin/js/jquery-1.11.3.min.js"></script>
	        <![endif]-->
			<script type="text/javascript">
				if('ontouchstart' in document.documentElement) document.write("<script src='../../../admin/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
			</script>
			<script src="../../../admin/js/bootstrap.min.js"></script>
	
			<!-- page specific plugin scripts -->
	
			<!--[if lte IE 8]>
			  <script src="../../../admin/js/excanvas.min.js"></script>
			<![endif]-->
			<script src="../../../admin/js/jquery-ui.custom.min.js"></script>
			<script src="../../../admin/js/jquery.ui.touch-punch.min.js"></script>
			<script src="../../../admin/js/jquery.easypiechart.min.js"></script>
			<script src="../../../admin/js/jquery.sparkline.index.min.js"></script>
			<script src="../../../admin/js/jquery.flot.min.js"></script>
			<script src="../../../admin/js/jquery.flot.pie.min.js"></script>
			<script src="../../../admin/js/jquery.flot.resize.min.js"></script>
	
			<!-- ace scripts -->
			<script src="../../../admin/js/ace-elements.min.js"></script>
			<script src="../../../admin/js/ace.min.js"></script>
        </footer>
	</body>
</html>
